* {
    box-sizing: border-box;
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    float: left;
    padding: 10px;
    height:100vh;
}

.left, .right {
    width: 30%;
    background-color: #FFFEF2;
}

.middle {
    width: 40%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.image {
    width: 75%;
    justify-self: center;
    align-self: center;
}